/* * * * * * * * * * TOUT * * * * * * * * * */

.inlineBlock {
	display: inline-block;
}

.textcenter {
	text-align: center;
}

/* * * * * * * * * * NAVBAR * * * * * * * * * */

.backgroundNav {
	background: url(../img/background/imgBackground.jpeg) no-repeat center center;
	padding-bottom: 200px;
}

.backgroundNavTheme {
	padding-bottom: 70px;
}

.containerTheme {
	margin-top: 100px;
}

.divTheme {
	display: inline-block;
	color: blue;
	width: 200px;
	height: 100px;
	cursor: pointer;
	text-align: center;
	padding-top: 18px;
	margin-top: 70px;
	margin-left: 100px;
	margin-right: 100px;
}

.divTheme:hover {
	background: blue;
	color: red;
	text-decoration: none;
}

.themeTheatre {
}

/* * * * * * * * * * NEWS * * * * * * * * * */

.news {
	background: pink;
	height: 600px;
	padding-top: 50px;
	padding-bottom: 50px;
}

.imgSlide {
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
	height: 500px;
}

/* * * * * * * * * * INFOS * * * * * * * * * */



/* * * * * * * * * * CONTACT * * * * * * * * * */

.contact {
	background: green;
}

.carteContact {
	margin: 10%;
}

/* * * * * * * * * * FOOTER * * * * * * * * * */

footer {
	background: lightgrey;
}

/************************************************************************************
*************************************************************************************

- - - - - - - - - - - - - - - - -  PAGE DES THEMES - - - - - - - - - - - - - - - - -

*************************************************************************************
************************************************************************************/

/* * * * * * * * * * THEATRE * * * * * * * * * */

.red {
	background: red;
}

.blue {
	background: blue;
}

.backThemeTheatre {
	background: url('../img/photo/theatre/theatre1.jpg') no-repeat center center;
	background-size: cover;
}