/* * * * * * * * * * TOUT * * * * * * * * * */

.inlineBlock {
	display: inline-block;
}

.textcenter {
	text-align: center;
}

.red {
	background: red;
}

.blue {
	background: blue;
}

.green {
	background: green;
}

.backAdmin {
	background: url("../img/background/fondAdmin.jpeg") no-repeat center center fixed;
	background-size: cover;
}

/* * * * * * * * * * NAVBAR * * * * * * * * * */

.imgLogo {
	border-radius: 20px 20px 0px 0px;
	cursor: pointer;
	width: 130px;
	height: 90px;
}

.lienAccueil {
	height: 150px;
}

.lienAccueil:hover {
	opacity: 0.7;
}

.retourAccueil {
	background: white;
	color: #7C07A9;
	border-radius: 0px 0px 50px 50px;
	padding-top: 5px;
}

/* * * * * * * * * * CHOIX * * * * * * * * * */

.titreAdmin {
	text-decoration: underline;
	color: #098F9B;
}

.divChoix {
	background: white;
	color: #7C07A9;
	border: 3px solid #7C07A9;
	border-radius: 15px;
}

.divChoix:hover {
	background: #7C07A9;
	color: white;
	border: 3px solid white;
}

/* * * * * * * * * * NEWS * * * * * * * * * */

.divEditTheme {
	text-decoration: none;
	color: #098F9B;
	background: white;
	padding: 15px;
	margin: 15px;
	border: 2px solid #098F9B;
	border-radius: 15px;
}

.divEditTheme:hover {
	text-decoration: none;
	color: white;
	background: #098F9B;
	border: 2px solid transparent;
}

.divContenuTheme {
	margin-top: 250px;
}

.divContenuTheme2 {
	margin-top: 50px;
}

.news {
	border: 5px solid #7C07A9;
	border-radius: 5px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.activite {
	border: 5px solid #7C07A9;
	border-radius: 5px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.divFormAddNews {
	width: 350px;
}

/* * * * * * * * * * AJAX * * * * * * * * * */

.divGetNews {
	background: white;
	border: 2px solid #098F9B;
	border-radius: 8px;
	width: 220px;
	display: inline-block;
	padding: 5px;
}

.divGetActivite {
	background: white;
	border: 2px solid #098F9B;
	border-radius: 8px;
	width: 320px;
	display: inline-block;
	padding: 5px;
}

.imgGetNews {
	width: 200px;
	height: 140px;
}

.imgArchive {
	width: 300px;
	height: 150px;
}

.articleGetNews {
	width: 260px;
	display: inline-block;
}

.articleGetActivite {
	width: 260px;
	display: inline-block;
}

.btn_modif {
	background: white;
	color: #098F9B;
}

.btn_modif:hover {
	background: #098F9B;
	color: white;
}

.btn_activite {
	background: white;
	color: #098F9B;
}

.btn_activite:hover {
	background: #098F9B;
	color: white;
}

.imgEditSlide {
	width: 240px;
	height: 120px;
}