/* * * * * * * * * * TOUT * * * * * * * * * */

.inlineBlock {
	display: inline-block;
}

.textcenter {
	text-align: center;
}

.imgThemeAccueil {
	background: url("../img/background/fond.jpg") no-repeat center center fixed;
	background-size: cover;
}

h3 {
	font-size: 18px;
	color: #098F9B;
}

.red {
	background: red;
}

.blue {
	background: blue;
}

/* * * * * * * * * * NAVBAR * * * * * * * * * */

.imgLogo {
	border-radius: 20px;
	cursor: pointer;
}

.imgLogo:hover {
	opacity: 0.7;
}

.backgroundNav {
	padding-bottom: 200px;
}

.backgroundNavTheme {
	padding-bottom: 70px;
}

.containerTheme {
	margin-top: 100px;
}

.divTheme {
	display: inline-block;
	background: white;
	color: #098F9B;
	width: 280px;
	height: 300px;
	cursor: pointer;
	text-align: center;
	padding: 15px 0px 0px 0px;
	margin: 30px 10px 0px 10px;
	border: 5px solid #098F9B;
	border-radius: 20px;
	box-shadow: 3px 3px 10px black;
}

.divTheme:hover {
	border: 5px solid transparent;
	text-decoration: none;
	opacity: 0.8;
	box-shadow: 0px 0px 0px white;
}

.themeTheatre {
	width: 247px;
	height: 180px;
	border-radius: 15px;
}

/* * * * * * * * * * NEWS * * * * * * * * * */

.titreNews {
	color: #098F9B;
	background: white;
	border-radius: 60px 60px 0px 0px;
	width: 48%;
	margin-left: 26%;
	margin-right: 26%;
}

.newsletter {
	color: #098F9B;
	background: white;
	border-radius: 0px 0px 60px 60px;
	width: 54%;
	margin-left: 23%;
	margin-right: 23%;
	padding: 0px 25px 10px 25px;
}

.newsletter:hover {
	color: #7C07A9;
	background: #098F9B;
	cursor: pointer;
	text-decoration: none;
}

.news {
	height: 700px;
	padding-bottom: 100px;
}

.imgSlide {
	width: 64%;
	margin-left: 18%;
	margin-right: 18%;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
	height: 500px;
}

/* * * * * * * * * * INFOS * * * * * * * * * */

.info {
	margin-bottom: 70px;
}

.titreInfo {
	color: #098F9B;
	background: white;
	border-radius: 60px 60px 0px 0px;
	margin-left: 32%;
	margin-right: 32%;
}

.videoYT {
	border: 3px solid #098F9B;
}

/* * * * * * * * * * CONTACT * * * * * * * * * */

.divCarteContact {
	margin: 50px 15% 50px 15%;
}

.formContact {
	margin: 0px 0px 0px 0px;
}

.textFormContact {
	color: #098F9B;
}

.titreFormContact {
	color: #098F9B;
	background: white;
	border-radius: 60px 60px 0px 0px;
	margin-left: 26%;
	margin-right: 26%;
}

.boutonFormContact {
	color: #7C07A9;
	background: white;
	padding: 0px 35px 0px 35px;
	border: 2px solid #7C07A9;
	border-radius: 10px;
}

.boutonFormContact:hover {
	color: white;
	background: #7C07A9;
	border: 2px solid transparent;
}

/* * * * * * * * * * PARTENAIRE * * * * * * * * * */

.partenaire {
	margin-top: 100px;
	margin-bottom: 100px;
}

.titreSectionPartenaire {
	color: #098F9B;
	background: white;
	border-radius: 60px 60px 0px 0px;
	margin-left: 26%;
	margin-right: 26%;
}

.titrePartenaire {
	color: #7C07A9;
	background: white;
	padding: 0px 5px 0px 5px;
	border-radius: 20px;
}

.divPartenaire {
	display: inline-block;
	background: white;
	border: 3px solid #7C07A9;
	border-radius: 15px;
	width: 150px;
	height: 150px;
	margin: 6px 11px 6px 11px;
}

.imgPartenaire {
	width: 100px;
	height: 100px;
}

/* * * * * * * * * * FOOTER * * * * * * * * * */

footer {
	color: #098F9B;
	background: white;
	border-radius: 200px 200px 0px 0px;
}

.titreFooter {
	text-decoration: underline;
}

/************************************************************************************
*************************************************************************************

- - - - - - - - - - - - - - - - -  PAGE DES THEMES - - - - - - - - - - - - - - - - -

*************************************************************************************
************************************************************************************/

/* * * * * * * * * * THEATRE * * * * * * * * * */

.backThemeTheatre {
	background: url("../img/theme/theatre/theatre1.jpg") no-repeat center center fixed;
	background-size: cover;
}